<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'googledocs', :plugin => 'redmine_googledocs' %>
<% end %>


<div class="contextual">
<%= link_to_if_authorized l(:label_document_new),
                          {:controller => 'googledocs', :action => 'new', :project_id => @project},
                          :class => 'icon icon-add',
                          :onclick => 'Element.show("add-document"); return false;' %>
</div>

<div id="add-document" style="display:none;">
<h2><%=l(:label_document_new)%></h2>
<% form_tag({:controller => 'googledocs', :action => 'new', :project_id => @project}, :class => "tabular", :multipart => true) do %>
<%= render :partial => 'googledocs/form' %>
<%= submit_tag l(:button_create) %>
<%= link_to l(:button_cancel), "#", :onclick => 'Element.hide("add-document")' %>
<% end %>
</div>

<div id="googledocs">
<h2>Google Docs</h2>

<% @documents.each do |key,value| %>
<% if value.size != 0 %>
<h4><%= key %></h4>
<ul>
<% value.each do |doc| %>
<li>
<h4><%= link_to_if_authorized h(doc['title']), :action => 'edit', :project_id => @projid, :altlink => doc['altedit'] %><br/> 
Last updated at <em><%= doc['updatedtime'] %></em> on <em><%= doc['updateddate'] %></em>. &nbsp;&nbsp;&nbsp;&nbsp;<%= link_to_if_authorized h('Delete?'), :action => 'delete', :project_id => @projid, :docid => doc['edit'], :check => 'True', :etag => doc['etag'] %></h4>
</li>
<% end %>
</ul>
<% end %>
<% end %>
</div>